.div-first {
	background-color: teal;
	font-size: 2em;
	text-align: center;
}

.div-later {
	font-size: 0.7em;
	text-align: center;
	max-width: 500px;
}

#div2 {
	background-color: #4DD0E1;
}

#div3 {
	background-color: #B2EBF2;
	text-align: center;
}

.hover-bold:hover {
	font-weight: bold;
}

#div1 {
	text-align: center;
}

img {
	opacity:0.5;
	filter: alpha(opacity=50);
}